/*
Kilder:
Image styling: https://www.youtube.com/watch?v=zWg_YpxabKA
Website styling: https://www.bolius.dk/
 */

h1 {
    color: #EE5C47;
    text-align: center;
}


body {
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4;
    color: #000;
    text-align: left;
    background-color: #f2f5f5
}


#header {
    width: 100%;
    box-shadow: 0px 0px 20px rgb(70 140 140 / 10%);
    background: #fff;
    position: relative;
    z-index: 100;
}


#logo {
    border-radius: 0.25rem;
    padding: 0.313rem;
    width: 6.25rem;
    float: top;
    left: 14.375rem;
    position: relative;
}


#searchLogo {
    position: absolute;
    height: 1.25rem;
    width: 1.25rem;
    overflow: hidden;
    color: transparent;
    right: 22.1rem;
    top: 1.5rem;
}


#homeLogo {
    position: absolute;
    right: 15.7rem;
    top: 1.5rem;
    font-size: 1.5rem;
    width: 1.4rem;
    height: 1.4rem;
}


#sloganLogo {
    float: right;
}


#logoFooter{
    border-radius: 0.25rem;
    width: 5.625rem;
    float: top;
    position: relative;
}


#questionBox {
    font-family: 'nationaleregular', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    display: -ms-flexbox;
    color: #000;
    text-align: center;
    box-shadow: 0px 0px 20px rgb(70 140 140 / 10%);
    background: #fff;
    position: relative;
    z-index: 100;
    padding: 1.25rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 4.5rem;
}


#divFooter {
    padding: 1.375rem;
    font-family: 'nationaleregular', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #000;
    box-shadow: 0px 0px 20px rgb(70 140 140 / 10%);
    background: #fff;
    position: relative;
    z-index: 100;
}


/*
@media screen and (max-width: 500px){
    h1 {
        font-size: large;
    }
}
 */


p{
    font-weight: bold;
}


#textFooter {
    font-weight: normal;
}


#button {
    background: #EE5C47;
    color:white;
    font-family:'Kumbh Sans regular', sans-serif;
    border: none;
    display: block;
    width: 25%;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 0.6rem;
    float: bottom;
    margin: auto;
    margin-top: 2rem;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}


.image-container {
    position: relative;
    margin: 20px;
    width: 450px;
    height: 350px;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.8s ease-in-out;
}

#parcel1 {
    position: absolute;
    width: 100%;
    transform: scale(1);
    transition: transform 1s ease-in-out;
}
#parcel2 {
    position: absolute;
    width: 100%;
    transform: scale(1);
    transition: transform 1s ease-in-out;
}
#rækkehus1 {
    position: absolute;
    width: 100%;
    transform: scale(1);
    transition: transform 1s ease-in-out;
}
#rækkehus2 {
    position: absolute;
    width: 100%;
    transform: scale(1);
    transition: transform 1s ease-in-out;
}
#ejerlejlighed1 {
    position: absolute;
    width: 100%;
    transform: scale(1);
    transition: transform 1s ease-in-out;
}
#ejerlejlighed2 {
    position: absolute;
    width: 100%;
    transform: scale(1);
    transition: transform 1s ease-in-out;
}
span {
    position: absolute;
    bottom: 0;
    padding: 4rem;
    z-index: 999;
    background: linear-gradient(#0000, #121212);
    transform: translateY(250px);
    transition: transform 0.6s ease-in-out;
}

span h2 {
    color: #ffffff;
}

span p {
    color: #ffffff;
}

.image-container::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #ffffff79;
    transition: opacity 0.8s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-container:hover > span {
    transform: translateY(0);
}

.image-container:hover:after {
    opacity: 1;
}


